<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.dao.CasesMapper">
    <resultMap id="BaseResultMap" type="com.manager.entity.Cases" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="method" property="method" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="author" property="author" jdbcType="VARCHAR" />
        <result column="json" property="json" jdbcType="VARCHAR" />
        <result column="project" property="project" jdbcType="VARCHAR" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <!-- 模糊查询 倒序 -->
    <select id="findCaseListByLike" resultMap="BaseResultMap" >
        select * from cases
        <where>
            <if test="_parameter != null and _parameter != ''">
               and `name` like CONCAT('%',#{_parameter},'%')
            </if>
        </where>
        order by id desc
    </select>


    <update id="updateCase" parameterType="map">
        update cases
        <set>
            <if test="method != null and method != ''">
                method = #{method},
            </if>

            <if test="author != null and author != ''">
                author = #{author},
            </if>


            <if test="name != null and name != ''">
                `name` = #{name},
            </if>

            <if test="json != null and json != ''">
                `json` = #{json},
            </if>
            <if test="project != null and project != ''">
                project = #{project},
            </if>

            <if test="url != null">
                `url` = #{url},
            </if>
            <if test="type != null and type != ''">
                `type` = #{type},
            </if>

            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>